.conduit-banner {
  text-align: center;
  font-size: 22px;
  color: white;
  font-weight: 700;
  background: #5cb85c;
  padding: 3px 3px;
}
.article-container {
  margin-top: 50px;
  width: 1000px;
  /* border: 1px solid black; */
  margin-left: 100px;
}
hr {
  width: 980px;
  color: rgb(218, 217, 216);
}
.user-image {
  width: 30px;
  border-radius: 50%;
}

.article-list {
  padding: 15px;
}
.tags {
  text-align: right;
  color: rgb(117, 100, 94);
}
button {
  color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  color: red;
}
.list-tags {
  font-size: 8px;
}
span {
  color: #5cb85c;
  text-decoration: none;
}
h2 {
  color: rgb(80, 69, 69);
  text-decoration: none;
  font-weight: 700;
}
h5 {
  font-family: source sans pro, sans-serif;
  font-size: 20px;
  color: rgb(241, 237, 237);
  font-weight: 300;
}
h6 {
  margin: 0;
  color: rgb(158, 156, 153);
}
h4 {
  color: rgb(199, 195, 195);
  text-decoration: none;
}
body {
  text-decoration: none;
}
.list-tags {
  display: grid;
  grid-row: 1 / span 2;
}
