.conduit-banner {
  text-align: center;
  font-size: 18;
  color: white;
  font-weight: 700;
  background: #5cb85c;
  padding: 7px 7px;
}
.user-image {
  width: 30px;
  border-radius: 50%;
}

.article-list {
  display: flex;
  justify-content: center;
}
.tags {
  text-align: right;
  color: rgb(117, 100, 94);
}
button {
  color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  color: red;
}
.list-tags {
  font-size: 8px;
}
