.conduit-banner {
  text-align: center;
  font-size: 18;
  color: white;
  font-weight: 700;
  background: #5cb85c;
  padding: 7px 7px;
}
.article-container {
  margin-top: 50px;
  width: 1000px;
  /* border: 1px solid black; */
  margin-left: 100px;
} 
hr {
  width: 980px;
  color: bisque;
}
.user-image {
  width: 30px;
  border-radius: 50%;
}

.article-list {
  padding: 15px;
}
.tags {
  text-align: right;
  color: rgb(117, 100, 94);
}
button {
  color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  color: red;
}
.list-tags {
  font-size: 8px;
}
span {
  color: #5cb85c;
  text-decoration: none;
}
h2 {
  color: black;
  text-decoration: none;

}
h4 {
  color: grey;
  text-decoration: none;

}
body {
  text-decoration: none;
}
.list-tags{
  display: grid;
  grid-row: 1/span 2;
}
