.btn-logout {
  border: none;
  background: transparent;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-around;
  color: #5cb85c;
  font-weight: 700;
}
.header-links {
    text-decoration: none;
    margin-top: 0px;
}
